<section class="tab notes scrollable {{tabs.notes.cssClass}}" data-group="primary" data-tab="notes" style="height:100%;">
    <div style="display: flex;height: 100%;">
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Notes"}}
            </div>
             {{#if editable}}
            <prose-mirror name="system.notes" value="{{ document.system.notes }}"></prose-mirror>
            {{else}}
            <div class="editor">
                <div class="editor-content">{{{ notesHTML }}}</div>
            </div>
            {{/if}}
        </div>
    </div>
</section>