<form style="display: flex; min-height:80px;padding-bottom:12px;">
    <div style="border-right: 1px solid black;padding-right:12px;">
        <label style="font-weight: bold;">{{localize "BREAK.Edge"}}</label>
        <div>
            <label>{{localize "BREAK.Edge"}}</label>
            <input name="edge" type="radio" value="1" />
        </div>
        <div style="margin-top:6px;">
            <label>{{localize "BREAK.Snag"}}</label>
            <input name="edge" type="radio" value="2" />
        </div>
    </div>
    <div style="margin-left: 12px;">
        <label style="font-weight: bold;">{{localize "BREAK.Bonus"}}</label>
        <div style="display:flex;column-gap:6px;">
            <div style="display: flex; flex-direction:column; justify-content:center;margin-left:auto;row-gap:6px;">
                <div>
                    <label>{{localize "BREAK.MinorBonus"}}</label>
                    <input name="bonus" type="radio" value="1" />
                </div>
                <div>
                    <label>{{localize "BREAK.MajorBonus"}}</label>
                    <input name="bonus" type="radio" value="2" />
                </div>
            </div>
            <div style="display: flex; flex-direction:column; justify-content:center;margin-right:auto;row-gap:6px;">
                <div>
                    <label>{{localize "BREAK.MinorPenalty"}}</label>
                    <input name="bonus" type="radio" value="3" />
                </div>
                <div>
                    <label>{{localize "BREAK.MajorPenalty"}}</label>
                    <input name="bonus" type="radio" value="4" />
                </div>
            </div>
        </div>
        <input name="customBonus" placeholder="{{localize 'BREAK.CustomBonus'}}" style="width: 100px;margin-top:12px">
    </div>
</form>
