<div class="dice-roll break roll-check">
    <div class="dice-result">
        <div class="dice-formula">{{roll.formula}}</div>
        <div class="dice-tooltip"></div>
        {{tooltip}}
        <h4 class="dice-total" data-action-result="{{roll.total}}">
            {{roll.total}}
        </h4>
        {{#if outcome}}
            <h4 class="dice-total outcome" data-outcome="{{outcome}}">
                {{outcome}}
            </h4>
        {{/if}}
    </div>
</div>