<div class="dice-roll break roll-check">
    <div class="dice-result">
        <div class="dice-formula">{{#if failedRoll}}<s>{{failedRoll.total}}</s>{{/if}} {{rollFormula}}</div>
        <div class="dice-tooltip"></div>
        {{tooltip}}
        <h4 class="dice-total" data-action-result="{{rollTotal}}">
            {{rollTotal}}
        </h4>
        {{#if outcome}}
            <h4 class="dice-total outcome" data-outcome="{{outcome}}">
                {{outcome}}
            </h4>
        {{/if}}
    </div>
</div>