<div style="display:flex; flex-direction: column; align-items: flex-start; row-gap: 0px;">
    <div class="flexrow">
        <div style="display:flex; flex-direction: row; align-items: center; row-gap: 5px;">
            <div class="advancement-grid">
                <label style="text-transform: uppercase;">{{localize "BREAK.Rank"}}</label>
            </div>
            <div class="advancement-grid">
                <label style="text-transform: uppercase;">{{localize "BREAK.Attack"}}</label>
            </div>
            <div class="advancement-grid">
                <label style="text-transform: uppercase;">{{localize "BREAK.Hearts"}}</label>
            </div>
            <div class="advancement-grid" style="width: 250px">
                <label style="text-transform: uppercase;">{{localize "BREAK.Aptitudes"}}</label>
            </div>
            <div class="advancement-grid" style="width: 150px">
                <label style="text-transform: uppercase;">{{localize "BREAK.Abilities"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: none">
                <label style="text-transform: uppercase;">{{localize "BREAK.XP"}}</label>
            </div>
        </div>
    </div>
    <div class="flexrow">
        <div style="display:flex; flex-direction: row; align-items: center; row-gap: 5px;">
            <div class="advancement-grid">
                <i class="fa-solid fa-shield" style="margin: 0px;"></i>
            </div>
            <div class="advancement-grid">
                <i class="fa-solid fa-sword" style="margin: 0px;"></i>
            </div>
            <div class="advancement-grid">
                <i class="fa-solid fa-heart" style="margin: 0px;"></i>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.APTITUDE.Might"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.APTITUDE.DeftnessShort"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.APTITUDE.Grit"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.APTITUDE.Insight"}}</label>
            </div>
            <div class="advancement-grid">
                <label style="text-transform: uppercase;">{{localize "BREAK.APTITUDE.Aura"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.ABILITIES.StartingShort"}}</label>
            </div>
            <div class="advancement-grid" style="border-right: 1px dashed black;">
                <label style="text-transform: uppercase;">{{localize "BREAK.ABILITIES.StandardShort"}}</label>
            </div>
            <div class="advancement-grid">
                <label style="text-transform: uppercase;">{{localize "BREAK.ABILITIES.AdvancedShort"}}</label>
            </div>
        </div>
    </div>
    {{#if advancementTableEditable}}
        {{#each advancementTable}}
        <div class="flexrow">
            <div style="display:flex; flex-direction: row; align-items: center; row-gap: 5px;">
                <div class="advancement-grid">
                    <label>{{this.rank}}</label>
                </div>
                <div class="advancement-grid">
                    <input name="attack" class="advancement-input" id="attack-{{@index}}" type="number" min="0" step="1" value="{{this.attack}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid">
                    <input name="hearts" class="advancement-input" id="hearts-{{@index}}" type="number" min="0" step="1" value="{{this.hearts}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="might" class="advancement-input" id="might-{{@index}}" type="number" min="0" step="1" value="{{this.might}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="deftness" class="advancement-input" id="deftness-{{@index}}" type="number" min="0" step="1" value="{{this.deftness}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="grit" class="advancement-input" id="grit-{{@index}}" type="number" min="0" step="1" value="{{this.grit}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="insight" class="advancement-input" id="insight-{{@index}}" type="number" min="0" step="1" value="{{this.insight}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid">
                    <input name="aura" class="advancement-input" id="aura-{{@index}}" type="number" min="0" step="1" value="{{this.aura}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="startingAbilites" class="advancement-input" id="startingAbilites-{{@index}}" type="number" min="0" step="1" value="{{this.startingAbilites}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <input name="standardAbilities" class="advancement-input" id="standardAbilities-{{@index}}" type="number" min="0" step="1" value="{{this.standardAbilities}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid">
                    <input name="advancedAbilities" class="advancement-input" id="advancedAbilities-{{@index}}" type="number" min="0" step="1" value="{{this.advancedAbilities}}" style="width: 30px; text-align: right;">
                </div>
                <div class="advancement-grid">
                    <input name="xp" class="advancement-input" id="xp-{{@index}}" type="number" min="0" step="1" value="{{this.xp}}" style="width: 30px; text-align: right;">
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        {{#each advancementTable}}
        <div class="flexrow">
            <div style="display:flex; flex-direction: row; align-items: center; row-gap: 5px;">
                <div class="advancement-grid">
                    <label>{{this.rank}}</label>
                </div>
                <div class="advancement-grid">
                    <label>{{this.attack}}</label>
                </div>
                <div class="advancement-grid">
                    <label>{{this.hearts}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.might}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.deftness}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.grit}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.insight}}</label>
                </div>
                <div class="advancement-grid">
                    <label>{{this.aura}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.startingAbilites}}</label>
                </div>
                <div class="advancement-grid" style="border-right: 1px dashed black;">
                    <label>{{this.standardAbilities}}</label>
                </div>
                <div class="advancement-grid">
                    <label>{{this.advancedAbilities}}</label>
                </div>
                <div class="advancement-grid">
                    <label>{{this.xp}}</label>
                </div>
            </div>
        </div>
        {{/each}}
    {{/if}}
</div>

<!--
<div class="flexrow" style="flex: 0.2;">
            {{localize "BREAK.Hearts"}}
        </div>    
        <div class="flexrow" style="flex: 1;">
            {{localize "BREAK.Aptitudes"}}
        </div>    
        <div class="flexrow" style="flex: 0.6;">
            {{localize "BREAK.Abilities"}}
        </div>
        <div class="flexrow" style="flex: 0.2;">
            {{localize "BREAK.XP"}}
        </div>   


<div style="display:flex;column-gap: 5px;"></div>

<div style="display:flex; align-items: top-center;flex: 0;">
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.2;">
            {{localize "BREAK.Rank"}}
        </div>    
        <div class="flexcol" style="flex: 0.2;">
            {{localize "BREAK.Attack"}}
        </div>    
        <div class="flexcol" style="flex: 0.2;">
            {{localize "BREAK.Hearts"}}
        </div>    
        <div class="flexcol" style="flex: 1;">
            {{localize "BREAK.Aptitudes"}}
        </div>    
        <div class="flexcol" style="flex: 0.6;">
            {{localize "BREAK.Abilities"}}
        </div>
        <div class="flexcol" style="flex: 0.2;">
            {{localize "BREAK.XP"}}
        </div>    
    </div>
</div>
-->