<div class="section-header">{{localize "BREAK.Details"}}</div>
<div style="display:flex; align-items: center;flex: 0;">
    <label>{{localize "BREAK.DefenseRating"}}</label>
    <input name="system.defenseBonus" value="{{item.system.defenseBonus}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
</div>
<div style="display:flex; align-items: center;flex: 0;margin-top:6px;">
    <label>{{localize "BREAK.SpeedPenalty"}}</label>
    <input name="system.speedPenalty" value="{{item.system.speedPenalty}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
</div>
