<div class="flexcol" style="width: 100%;">
    <div class="section-header">{{localize "BREAK.Identity"}}</div>
    <div style="display: flex; justify-content:center;">
        <img class="profile portrait" src="{{document.img}}" title="{{document.name}}" data-edit="img" />
    </div>
    <!-- NAME SECTION -->
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Name' }}</label>
        <div class="input wrapper">
            <input name="name" type="text" value="{{document.name}}" placeholder="{{ localize 'BREAK.Name' }}" />
        </div>
    </div>
    <!-- CALLING & RANK SECTION -->
    <div class="input root">
        <div class="flexrow">
            <section class="flex3">
                <div class="flexcol" style="width: 100%">
                    <label class="identity-header-label">{{ localize 'BREAK.Calling' }}</label>
                    <div class="input wrapper">
                        {{#if hasCalling}}
                        <label class="tooltip" id="calling-label">{{calling.name}}<span class="tooltiptext">{{{calling.system.description}}}</span></label>
                        <a class="item-control interface-only" style="margin-left: auto;" data-context-menu data-id="{{calling._id}}">
                            <i class="fas fa-ellipsis-vertical"></i>
                        </a>
                        {{else}}
                        <button class="select-feature" id="calling">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.Calling'}}</i></button>
                        {{/if}}
                    </div>
                </div>
            </section>
            <section class="flex1">
                <div class="flexcol" style="margin-left: 6px; padding-left: 6px; border-left: 1.5px solid;">
                    <label>{{ localize 'BREAK.Rank' }}</label>
                    <div class="input wrapper">
                        <label>{{ rank }}</label>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- SPECIES & SIZE SECTION -->
    <div class="input root">
        <div class="flexrow">
            <section class="flex3">
                <div class="flexcol" style="width: 100%">
                    <label class="identity-header-label">{{ localize 'BREAK.Species' }}</label>
                    <div class="input wrapper">
                        {{#if hasSpecies}}
                        <label class="tooltip" id="species-label">{{species.name}}<span class="tooltiptext">{{{species.system.description}}}</span></label>
                        <a class="item-control interface-only" style="margin-left: auto;" data-context-menu data-id="{{species._id}}">
                            <i class="fas fa-ellipsis-vertical"></i>
                        </a>
                        {{else}}
                        <button class="select-feature" id="species">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.Species'}}</button>
                        {{/if}}
                    </div>
                </div>
            </section>
            <section class="flex1">
                <div class="flexcol" style="margin-left: 6px; padding-left: 6px; border-left: 1.5px solid;">
                    <label>{{ localize 'BREAK.Size' }}</label>
                    <div class="input wrapper">
                        <label>{{ localize size.name }}</label>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- HOMELAND SECTION -->
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Homeland' }}</label>
        <div class="input wrapper">
            {{#if hasHomeland}}
            <label class="tooltip" id="homeland-label">{{homeland.name}}<span class="tooltiptext">{{{homeland.system.description}}}</span></label>
            <a class="item-control interface-only" style="margin-left: auto;" data-context-menu data-id="{{homeland._id}}">
                <i class="fas fa-ellipsis-vertical"></i>
            </a>
            {{else}}
            <button class="select-feature" id="homeland">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.Homeland'}}</button>
            {{/if}}
        </div>
    </div>
    <!-- LANGUAGES SECTION -->
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Languages' }}</label>
        <div class="input wrapper">
            <input name="system.languages" type="text" value="{{document.system.languages}}" placeholder="{{ localize 'BREAK.Languages' }}" />
        </div>
    </div>
    <!-- HISTORY SECTION -->
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.History' }}</label>
        <div class="input wrapper">
            {{#if hasHistory}}
            <label class="tooltip" id="history-label">{{history.name}}<span class="tooltiptext">{{{history.system.description}}}</span></label>
            <a class="item-control interface-only" style="margin-left: auto;" data-context-menu data-id="{{history._id}}">
                <i class="fas fa-ellipsis-vertical"></i>
            </a>
            {{else}}
            <button class="select-feature" id="history">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.History'}}</button>
            {{/if}}
        </div>
    </div>
    <!-- PURVIEWS SECTION -->
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Purviews' }}</label>
        <div class="input wrapper">
            <textarea style="width: 100%;" rows="6" name="system.purviews" type="text" placeholder="{{ localize 'BREAK.Purviews' }}">{{{document.system.purviews}}}</textarea>
        </div>
    </div>
</div>