<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <select name="system.subtype" style="flex: 0;">
        <option value=""></option>
        {{#each abilityTypes as |attr key|}}
        <option {{#when key 'eq' @root.item.system.subtype}}selected{{/when}} value="{{key}}">{{localize attr}}</option>
        {{/each}}
    </select>
    {{#when @root.item.system.subtype 'eq' 'calling'}}
        <select name="system.level" style="flex: 0;">
            <option value=""></option>
            {{#each abilityLevels as |attr key|}}
            <option {{#when key 'eq' @root.item.system.level}}selected{{/when}} value="{{key}}">{{localize attr}}</option>
            {{/each}}
        </select>
    {{/when}}
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>
</form>
