<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="flexcol" style="min-height: 256px;">
                <div class="section-header">
                    {{localize "BREAK.Description"}}
                </div>
                {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
        </div>
        <div class="tab description" data-group="primary" data-tab="details">
            <div style="display: flex; gap: 15px; flex: 0;">
                <div class="flexcol" style="flex: 1;">
                    <div class="base-speed" style="flex: 0;">
                        <div class="section-header" id="baseSpeed">{{localize "BREAK.Speed"}}</div>
                        <input name="system.baseSpeed" value="{{item.system.baseSpeed}}" placeholder="1" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
                    </div>
                    <div class="base-defense" style="flex: 0;">
                        <div class="section-header" id="baseDefense">{{localize "BREAK.Defense"}}</div>
                        <input name="system.baseDefense" value="{{item.system.baseDefense}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
                    </div>
                    <div class="starting-ability-drag-slot flexcol" id="startingAbilities" style="flex: 0;">
                        <div class="section-header" id="startingAbilities">{{localize "BREAK.ABILITIES.StartingLong"}}</div>
                        {{#if hasStartingAbilities}}
                        {{#each startingAbilities}}
                        <div id="startingAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                            <label class="tooltip" id="startingAbilities">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                            <a class="delete-starting-ability" id="starting-{{@index}}" style="margin-top: auto; margin-bottom: auto; width:10.5px; height: 14px; margin-left: auto;"><i class="fa-regular fa-xmark"></i></a>
                        </div>
                        {{/each}}
                        {{/if}}
                        <button class="select-feature" id="startingAbilities">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.Ability'}}</button>

                    </div>
                    <div class="ability-drag-slot flexcol" id="electiveAbilities" style="flex: 0;">
                        <div class="section-header" id="electiveAbilities">{{localize "BREAK.ABILITIES.ElectiveLong"}}</div>
                        {{#if hasElectiveAbilities}}
                        {{#each electiveAbilities}}
                        <div id="electiveAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                            <label class="tooltip" id="electiveAbilities">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                            <a class="delete-elective-ability" id="elective-{{@index}}" style="margin-top: auto; margin-bottom: auto; width:10.5px; height: 14px; margin-left: auto;"><i class="fa-regular fa-xmark"></i></a>
                        </div>
                        {{/each}}
                        {{/if}}
                        <button class="select-feature" id="electiveAbilities">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.Ability'}}</button>
                    </div>
                </div>
                <div class="flexcol" style="flex: 1;">
                    <div class="gear-allowance-drag-slot flexcol" id="gearAllowances" style="flex: 0;">
                        <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.ArmorAllowances"}}</div>
                        {{#if hasArmorAllowances}}
                        {{#each armorAllowances}}
                        <div id="gearAllowances" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                            <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                            <a class="delete-allowance" style="margin-top: auto; margin-bottom: auto; width:10.5px; height: 14px; margin-left: auto;"><i class="fa-regular fa-xmark"></i></a>
                        </div>
                        {{/each}}
                        {{/if}}
                        <button class="select-feature" id="shieldAllowance">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.GEAR.ShieldType'}}</button>
                    </div>            
                    <div class="gear-allowance-drag-slot flexcol" id="gearAllowances" style="flex: 0;">
                        <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.MeleeAllowances"}}</div>
                        {{#if hasMeleeAllowances}}
                        {{#each meleeAllowances}}
                        <div id="electiveAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                            <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                            <a class="delete-allowance" style="margin-top: auto; margin-bottom: auto; width:10.5px; height: 14px; margin-left: auto;"><i class="fa-regular fa-xmark"></i></a>
                        </div>
                        {{/each}}
                        {{/if}}
                        <button class="select-feature" id="meleeAllowance">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.GEAR.MeleeType'}}</button>
                    </div>            
                    <div class="gear-allowance-drag-slot flexcol" id="gearAllowances" style="flex: 0;">
                        <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.MissileAllowances"}}</div>
                        {{#if hasMissileAllowances}}
                        {{#each missileAllowances}}
                        <div id="gearAllowances" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                            <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                            <a class="delete-allowance" style="margin-top: auto; margin-bottom: auto; width:10.5px; height: 14px; margin-left: auto;"><i class="fa-regular fa-xmark"></i></a>
                        </div>
                        {{/each}}
                        {{/if}}
                        <button class="select-feature" id="missileAllowance">{{localize 'BREAK.PickOrDrag'}} {{localize 'BREAK.GEAR.MissileType'}}</button>
                    </div>        
                </div>
            </div>
        </div>
        <div class="tab description" data-group="primary" data-tab="advancement">
            <div class="flexcol" style="flex: 0;">
                <div class="section-header">
                    {{localize "BREAK.AdvancementTable"}}
                </div>
                {{> "systems/break/templates/items/parts/advancement-table.hbs"}}
            </div>
        </div>
    </section>
    <nav class="tabs" data-group="primary">
        <a class="item active" data-tab="description"><i class="fas fa-scroll"></i></a>
        <a class="item" data-tab="details"><i class="fas fa-swords"></i></a>
        <a class="item" data-tab="advancement"><i class="fas fa-book-sparkles"></i></a>
    </nav>
</form>
