<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display: flex; gap: 15px; flex: 0;">
        <div class="flexcol" style="flex: 1;">
            <div class="starting-ability-drag-slot" id="startingAbilities" style="flex: 0;">
                <div class="section-header" id="startingAbilities">{{localize "BREAK.ABILITIES.StartingLong"}}</div>
                {{#if hasStartingAbilities}}
                {{#each startingAbilities}}
                <div id="startingAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="startingAbilities">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-starting-ability" id="starting-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="startingAbilities">Drag an ability...</label>
                {{/if}}
            </div>
            <div class="ability-drag-slot" id="electiveAbilities" style="flex: 0;">
                <div class="section-header" id="electiveAbilities">{{localize "BREAK.ABILITIES.ElectiveLong"}}</div>
                {{#if hasElectiveAbilities}}
                {{#each electiveAbilities}}
                <div id="electiveAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="electiveAbilities">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-elective-ability" id="elective-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="electiveAbilities">Drag an ability...</label>
                {{/if}}
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="gear-allowance-drag-slot" id="gearAllowances" style="flex: 0;">
                <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.ArmorAllowances"}}</div>
                {{#if hasArmorAllowances}}
                {{#each armorAllowances}}
                <div id="gearAllowances" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-allowance" id="armor-{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="gearAllowances">Drag an armor or shield type...</label>
                {{/if}}
            </div>            
            <div class="gear-allowance-drag-slot" id="gearAllowances" style="flex: 0;">
                <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.MeleeAllowances"}}</div>
                {{#if hasMeleeAllowances}}
                {{#each meleeAllowances}}
                <div id="electiveAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-allowance" id="weapon-{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="gearAllowances">Drag a melee weapon type...</label>
                {{/if}}
            </div>            
            <div class="gear-allowance-drag-slot" id="gearAllowances" style="flex: 0;">
                <div class="section-header" id="gearAllowances">{{localize "BREAK.GEAR.MissileAllowances"}}</div>
                {{#if hasMissileAllowances}}
                {{#each missileAllowances}}
                <div id="gearAllowances" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="gearAllowances">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-allowance" id="weapon-{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="gearAllowances">Drag a missile weapon type...</label>
                {{/if}}
            </div>        </div>
    </div>
    <div class="flexcol" style="flex: 0;">
        <div class="section-header">
            {{localize "BREAK.AdvancementTable"}}
        </div>
        {{#if advancementTable}}
        {{> "systems/break/templates/items/parts/advancement-table.hbs"}}
        {{else}}
        <label id="advancementTableMessage">Drag an advancement table...</label>
        {{/if}}
    </div>
    <div class="flexcol" style="flex: 0;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>
