<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header" style="flex: 0;">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>
