<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="section-header">{{localize "BREAK.Purviews"}}</div>
            <div class="purview-list" style="display: flex; flex-wrap: wrap;flex-grow: 0;">
                {{#each purviews}}
                    <div style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                        <input name="purview" type="text" style="margin-right: 6px" value="{{this}}" id="purview-{{@index}}" placeholder="Purview..." class="purview-input" />
                        <button class="delete-purview" id="{{@index}}" data-id="{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                    </div>
                {{/each}}
                <button class="add-purview" style="margin-left: 8px; max-width: 32px; margin-right: auto;"><i class="fa-solid fa-plus" style="margin: 0px;"></i></button>
            </div>
            <div class="section-header">{{localize "BREAK.GEAR.StartingGear"}}</div>
            <div class="starting-gear-list" style="display: flex; flex-wrap: wrap;flex-grow: 0;">
                {{#each startingGear}}
                    <div style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                        <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                        <button class="delete-gear" data-id="{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
