<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="section-header">{{localize "BREAK.BonusLanguages"}}</div>
            <input name="bonus-languages" type="text" value="{{actor.bonusLanguages}}" placeholder="{{ localize 'BREAK.Name' }}" />
            <div class="section-header">{{localize "BREAK.Histories"}}</div>
            <div class="histories-list" style="display: flex; flex-wrap: wrap;flex-grow: 0;">
                {{#each histories}}
                    <div style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                        <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                        <button class="delete-history" data-id="{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
