<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
            <div class="section-header">
                {{localize "BREAK.Effects"}}
                <div style="display:flex;width:100%;justify-content:flex-end;margin-right:12px;">
                    <a class="add-effect"><i class="fa-regular fa-plus"></i></a>
                </div>
            </div>
            {{#each item.effects as |effect|}}
                <div style="margin-bottom: 6px;align-items: center;" data-id="{{effect._id}}">
                    <a style="cursor: pointer;" class="effect-link">{{effect.name}}</a>
                    <a class="item-control interface-only" style="margin-left: 6px;" data-context-menu>
                        <i class="fas fa-ellipsis-vertical"></i>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</form>
