<header class="sheet-header" style="flex: 0;margin-bottom:12px;">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" style="height:100px;max-width:33%"/>
    <div style="height: 100%;display:flex;flex-direction:column;">
        <div class="header-fields" style="display:flex; align-items:center;">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div style="align-items: center; display:flex; flex-direction:column;">
                <input name="system.slots" type="number" class="aptitude-base-circle" style="text-align: center; margin-left:0px;" value="{{item.system.slots}}" placeholder="0"/>
                <label style="text-transform: uppercase;">{{localize "BREAK.Slots"}}</label>
            </div>
        </div>
        <div style="display: flex;align-items:center;height:100%;">
            <div style="flex: 1; display:flex;height:100%">
                {{#if isWeapon }}
                    <div class="weapon-type-drag-slot" id="weaponType1">
                        {{#if item.system.weaponType1}}
                            <label id="weaponType1" style="font-weight: 700;font-size:16px;">{{item.system.weaponType1.name}}</label>
                        {{/if}}
                        {{#unless item.system.weaponType1}}
                            Drag a type
                        {{/unless}}
                    </div>
                    <div class="weapon-type-drag-slot" id="weaponType2">
                        {{#if item.system.weaponType2}}
                            <label id="weaponType2" style="font-weight: 700;font-size:16px;">{{item.system.weaponType2.name}}</label>
                        {{/if}}
                        {{#unless item.system.weaponType2}}
                            Drag a type
                        {{/unless}}
                    </div>
                {{/if}}
                {{#if isArmor}}
                    <div class="weapon-type-drag-slot" id="armortype">
                        {{#if item.system.type}}
                            <label id="armortype" style="font-weight: 700;font-size:16px;">{{item.system.type.name}}</label>
                        {{/if}}
                        {{#unless item.system.type}}
                            Drag a type
                        {{/unless}}
                    </div>
                {{/if}}
            </div>
            
            <div style="display: flex;align-items:center; flex: 1;justify-content:flex-end;">
                <i class="fas fa-gem"></i>
                <input name="system.value.gems" value="{{item.system.value.gems}}" placeholder="0" class="money-input" type="number"/>
                <i class="fas fa-coins"></i>
                <input name="system.value.coins" value="{{item.system.value.coins}}" placeholder="0" class="money-input" type="number"/>
                <i class="fas fa-coin-vertical"></i>
                <input name="system.value.stones" value="{{item.system.value.stones}}" placeholder="0" class="money-input" type="number"/>
            </div>
        </div>
    </div>
</header>
