<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display: flex; gap: 15px;">
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Advantages"}}
            </div>
            {{editor advantagesHTML target="system.advantages" button=true owner=owner editable=editable}}
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Disadvantages"}}
            </div>
            {{editor disadvantagesHTML target="system.disadvantages" button=true owner=owner editable=editable}}
        </div>
    </div>
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>
