<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display:flex; column-gap: 24px;">
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">{{localize "BREAK.GEAR.MeleeRestrictions"}}</div>
            <div class="restriction-wrapper" style="flex: 0; align-items: flex-start;">
                {{#if hasMeleeRestrictions}}
                {{#each meleeRestrictions}}
                <div style="display: flex; margin-bottom: 6px; align-items: center; width: 100%;">
                    <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-restriction" id="melee-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label>Drag a melee weapon type...</label>
                {{/if}}
            </div>
            <div class="section-header">{{localize "BREAK.GEAR.ArmorRestrictions"}}</div>
            <div class="restriction-wrapper" style="flex: 0; align-items: flex-start;">
                {{#if hasArmorRestrictions}}
                {{#each armorRestrictions}}
                <div style="display: flex; margin-bottom: 6px; align-items: center; width: 100%;">
                    <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-restriction" id="armor-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label>Drag an armor type...</label>
                {{/if}}
            </div>
            <div class="section-header">{{localize "BREAK.GEAR.ShieldRestrictions"}}</div>
            <div class="restriction-wrapper" style="flex: 0; align-items: flex-start;">
                {{#if hasShieldRestrictions}}
                {{#each shieldRestrictions}}
                <div style="display: flex; margin-bottom: 6px; align-items: center; width: 100%;">
                    <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-restriction" id="shield-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label>Drag a shield type...</label>
                {{/if}}
            </div>
            <div class="section-header">{{localize "BREAK.GEAR.MissileRestrictions"}}</div>
            <div class="restriction-wrapper" style="flex: 0; align-items: flex-start;">
                {{#if hasMissileRestrictions}}
                {{#each missileRestrictions}}
                <div style="display: flex; margin-bottom: 6px; align-items: center; width: 100%;">
                    <label class="tooltip">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-restriction" id="missile-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label>Drag a missile weapon type...</label>
                {{/if}}
            </div>
        </div>
        <div class="flexcol" style="flex: 0.5;">
            <div class="section-header">{{localize "BREAK.Modifiers"}}</div>
            <div style="display:flex; align-items: center;flex: 0;">
                <label>{{localize "BREAK.APTITUDE.Might"}}:</label>
                <input name="system.mightModifier" value="{{item.system.mightModifier}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
            </div>
            <div style="display:flex; align-items: center;flex: 0;">
                <label>{{localize "BREAK.APTITUDE.Deftness"}}:</label>
                <input name="system.deftnessModifier" value="{{item.system.deftnessModifier}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
            </div>
            <div style="display:flex; align-items: center;flex: 0;">
                <label>{{localize "BREAK.Defense"}}:</label>
                <input name="system.defenseModifier" value="{{item.system.defenseModifier}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
            </div>
            <div style="display:flex; align-items: center;flex: 0;">
                <label>{{localize "BREAK.Inventory"}}:</label>
                <input name="system.inventory" value="{{item.system.inventory}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
            </div>
        </div>
    </div>
</form>