<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="size-drag-slot" id="size" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.Size"}}</div>
                {{#if item.system.size}}
                <div style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip">{{item.system.size.name}}<span class="tooltiptext">{{{item.system.size.description}}}</span></label>
                    <button class="delete-size" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{else}}
                <label>Drag a size...</label>
                {{/if}}
            </div>
            <div class="innate-ability-drag-slot" id="innateAbilities" style="flex: 0;">
                <div class="section-header" id="innateAbilities">{{localize "BREAK.ABILITIES.Innate"}}</div>
                {{#if hasInnateAbilities}}
                {{#each innateAbilities}}
                <div id="innateAbilities" style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="innateAbilities">{{this.name}}<span class="tooltiptext">{{{this.system.description}}}</span></label>
                    <button class="delete-innate-ability" id="innate-{{@index}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{/each}}
                {{else}}
                <label id="innateAbilities">Drag an ability...</label>
                {{/if}}
            </div>
            <div class="maturative-ability-drag-slot" id="maturativeAbility" style="flex: 0;">
                <div class="section-header" id="maturativeAbility">{{localize "BREAK.ABILITIES.Maturative"}}</div>
                {{#if maturativeAbility}}
                <div style="display: flex; margin-bottom: 6px;align-items: center; width: 100%;">
                    <label class="tooltip" id="maturativeAbility">{{maturativeAbility.name}}<span class="tooltiptext">{{{maturativeAbility.system.description}}}</span></label>
                    <button class="delete-maturative-ability" id="maturative" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                </div>
                {{else}}
                <label id="maturativeAbility">Drag an ability...</label>
                {{/if}}
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>