<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/item-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="section-header">{{localize "BREAK.Details"}}</div>
            <div style="display:flex; align-items: center;flex: 0;">
                <label>{{localize "BREAK.ExtraDamage"}}</label>
                <input name="system.extraDamage" value="{{item.system.extraDamage}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
            </div>
            <div class="section-header" style="margin-top:12px;">{{localize "BREAK.Abilities"}}</div>
            <div class="ability-list" style="display: flex; flex-wrap: wrap;">
                {{#each abilities}}
                    <div style="display: flex; margin-bottom: 6px;align-items: center; width: 25%;">
                        <label>{{this.name}}</label>
                        <button class="delete-ability" data-id="{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">{{localize "BREAK.Description"}}</div>
        </div>
    </div>
</form>