<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Habitat"}}</label>
        <textarea name="system.misc.habitat" type="text" placeholder="...">{{actor.system.misc.habitat}}</textarea>
    </div>
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Gear"}}</label>
        <textarea name="system.misc.gearInfo" type="text" placeholder="...">{{actor.system.misc.gearInfo}}</textarea>
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Communication"}}</label>
        <textarea name="system.misc.communication" type="text" placeholder="...">{{actor.system.misc.communication}}</textarea>
    </div>

    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Tactics"}}</label>
        <textarea name="system.misc.tactics" type="text" placeholder="...">{{actor.system.misc.tactics}}</textarea>
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Indicators"}}</label>
        <textarea name="system.misc.indicators" type="text" placeholder="...">{{actor.system.misc.indicators}}</textarea>
    </div>
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.RolePlayingNote"}}</label>
        <textarea name="system.misc.rpNote" type="text" placeholder="...">{{actor.system.misc.rpNote}}</textarea>
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Customization"}}</label>
        <textarea name="system.misc.customization" type="text" placeholder="..." onload="this.style.height = this.scrollHeight + 'px';">{{actor.system.misc.customization}}</textarea>
    </div>
</div>