<div style="display:flex;align-items:center;border-bottom: 1px solid grey;padding-bottom:6px;column-gap:12px;">
    <div class="weapon-card-column weapon-name" style="align-items: center;">
        <i class="fas fa-xmark delete-weapon" data-id="{{weapon.id}}"></i>
        <label style="font-size:16px;font-weight:700;">{{weapon.name}}</label>
        <label style="font-size:12px;">{{weapon.type}}</label>
    </div>
    <div class="weapon-card-column">
        {{#if weapon.isMelee}}
            <div style="display:flex;">
                <label>{{localize "BREAK.GEAR.ExtraDamage"}}</label>
                <label style="margin-left: auto;">{{{weapon.extraDamage}}}</label>
            </div>
        {{/if}}
        {{#if weapon.isRanged}}
            <div style="display:flex;">
                <label>{{localize "BREAK.GEAR.TYPE.Ranged"}} {{localize "BREAK.GEAR.ExtraDamage"}}</label>
                <label style="margin-left: auto;">{{{weapon.rangedExtraDamage}}}</label>
            </div>
        {{/if}}
    </div>
    <div class="weapon-card-column">
        {{#if weapon.isMelee}}
        <div style="display:flex;">
            <label>{{localize "BREAK.AttackBonus"}}</label>
            <label style="margin-left: auto;">+{{sum weapon.attackBonus @root.attackBonus 0}}</label>
        </div>
        {{/if}}
        {{#if weapon.isRanged}}
        <div style="display:flex;">
            <label>{{localize "BREAK.GEAR.TYPE.Ranged"}} {{localize "BREAK.AttackBonus"}}</label>
            <label style="margin-left: auto;">+{{{sum weapon.rangedAttackBonus @root.attackBonus 0}}}</label>
        </div>
        {{/if}}
    </div>
    <div style="margin-left: auto;display:flex;column-gap:18px;padding-right:12px;">
        {{#if weapon.isRanged}}
            <i class="fas fa-bow-arrow clickable attack-ranged" 
            style="font-size:24px;" data-bonus="{{weapon.rangedAttackBonus}}" 
            data-extradamage="{{weapon.rangedExtraDamage}}"></i>
        {{/if}}
        {{#if weapon.isMelee}}
            <i class="fas fa-sword clickable attack-melee" 
            style="font-size:24px;" data-bonus="{{weapon.attackBonus}}" 
            data-extradamage="{{weapon.extraDamage}}"></i>
        {{/if}}
    </div>
</div>