<div class="flexcol" style="width: 100%;">
    <div class="section-header">{{localize "BREAK.Equipment"}}</div>
    <div style="display:flex;column-gap:24px;margin-top:16px;border-bottom:1px solid grey;padding-bottom:8px;">
        <div style="width:150px;border-right:1px solid grey;">
            <p style="flex: 0;font-weight:600;font-size:16px;">{{localize "BREAK.GEAR.TYPE.Armor"}}</p>
            <div class="equipment-drag-slot" style="display:flex; align-items: center;" id="armorslot">
                {{#if actor.system.equipment.armor}}
                <div style="display:flex;margin-bottom:10px;align-items:center;">
                    {{> "systems/break/templates/actors/parts/sheet-equipment-card.hbs" item=actor.system.equipment.armor}}
                    <i class="fas fa-shield-slash clickable unequip-item" style="margin-left:10px; margin-right:12px;" data-type="armor" data-item-id="{{actor.system.equipment.armor._id}}"></i>
                </div>
                {{/if}}
                {{#unless actor.system.equipment.armor}}
                Equip an armor
                {{/unless}}
            </div>
        </div>
        <div style="width:150px;">
            <p style="flex: 0;font-weight:600;font-size:16px;">{{localize "BREAK.Outfit"}}</p>
            <div class="equipment-drag-slot" id="outfitslot">
                {{#if actor.system.equipment.outfit}}
                <div style="display:flex;margin-bottom:10px;align-items:center;">
                    {{> "systems/break/templates/actors/parts/sheet-equipment-card.hbs" item=actor.system.equipment.outfit}}
                    <i style="margin-left:10px;" class="fas fa-shield-slash clickable unequip-item" data-type="outfit" data-item-id="{{actor.system.equipment.outfit._id}}"></i>
                </div>
                {{/if}}
                {{#unless actor.system.equipment.outfit}}
                Equip an outfit
                {{/unless}}
            </div>
        </div>
    </div>
    <p style="flex: 0;font-weight:600;font-size:16px;margin-top:16px;">{{localize "BREAK.Weapons"}}</p>
    <div class="equipment-drag-slot" id="weaponsslot" style="margin-top: 16px; border-bottom: 1px solid grey; padding-bottom: 8px; ">
        {{#if actor.system.equipment.weapon}}
        {{#each actor.system.equipment.weapon}}
        <div style="display:flex;margin-bottom:10px;align-items:center;">
            {{> "systems/break/templates/actors/parts/sheet-equipment-card.hbs" item=this}}
            <i style="margin-left:10px;" class="fas fa-shield-slash clickable unequip-item" data-type="weapon" data-item-id="{{this._id}}"></i>
        </div>
        {{/each}}
        {{/if}}
        {{#unless actor.system.equipment.weapon}}
        Equip a weapon
        {{/unless}}
    </div>
    <p style="flex: 0;font-weight:600;font-size:16px;margin-top:16px;">{{localize "BREAK.Accessories"}}</p>
    <div class="equipment-drag-slot" id="accessoriesslot" style="margin-bottom:16px;">
        {{#if actor.system.equipment.accessory}}
        {{#each actor.system.equipment.accessory}}
        <div style="display:flex;margin-bottom:10px;align-items:center;">
            {{> "systems/break/templates/actors/parts/sheet-equipment-card.hbs" item=this}}
            <i style="margin-left:10px;" class="fas fa-shield-slash clickable unequip-item" data-type="accessory" data-item-id="{{this._id}}"></i>
        </div>
        {{/each}}
        {{/if}}
        {{#unless actor.system.equipment.accessory}}
        Equip an accessory
        {{/unless}}
    </div>
</div>