<div class="flexcol" style="width: 100%;">
    <div class="section-header">
        {{localize "BREAK.Currency"}}
    </div>
    <div style="display: flex;align-items:center; flex: 1;justify-content:center;flex-grow:0;margin-bottom:6px;">
        <i class="fas fa-gem"></i>
        <input name="system.currency.gems" value="{{actor.system.currency.gems}}" placeholder="0" class="money-input" type="number"/>
        <i class="fas fa-coins"></i>
        <input name="system.currency.coins" value="{{actor.system.currency.coins}}" placeholder="0" class="money-input" type="number"/>
        <i class="fas fa-coin-vertical"></i>
        <input name="system.currency.stones" value="{{actor.system.currency.stones}}" placeholder="0" class="money-input" type="number"/>
    </div>
    <div class="section-header">
        {{localize "BREAK.BagContent"}}
        <div style="display:flex;width:100%;justify-content:flex-end;margin-right:12px;">
            <a class="add-item-custom"><i class="fa-regular fa-plus"></i></a>
        </div>
    </div>
    {{#each bagContent as |item|}}
        <div style="display:flex;flex: 0;" {{#if item.equippable}}class="bag-item"{{/if}} data-id="{{item._id}}" data-type="{{item.type}}">
            <div style="text-align: center;width:40%;">
                <a style="font-size: 16px;font-weight: 700;cursor:pointer;" class="item-link">{{item.name}}</a>
                <p style="font-size: 12px;">{{item.type}}</p>
            </div>
            <div style="display:flex; align-items:center;flex-grow:1;">
                <label>{{localize "BREAK.Quantity"}}</label>
                <div style="margin-left:auto;margin-right:auto;">
                    <a class="adjustment-button" data-action="decrease" data-property="system.quantity">
                        <i class="fa-regular fa-minus"></i>
                    </a>
                    <input class="item-quantity" value="{{ item.system.quantity }}" data-name="system.quantity" inputmode="numeric" pattern="[0-9+=\-]*" min="1" style="width:32px;text-align:center;background-color:white;" type="text" placeholder="0" data-dtype="Number"/>
                    <a class="adjustment-button" data-action="increase" data-property="system.quantity">
                        <i class="fa-regular fa-plus"></i>
                    </a>
                </div>
            </div>
            <div style="margin-left: auto;text-align:center;width:20%;">
                <p>{{mul item.system.slots item.system.quantity}}  {{localize "BREAK.Slots"}}</p>
                <a class="item-control interface-only" data-context-menu>
                    <i class="fas fa-ellipsis-vertical"></i>
                </a>
            </div>
        </div>
    {{/each}}
</div>